<!-- Latest compiled and minified CSS -->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>aretha - monte carlo events as a service (MCaaS)</title>

<!-- Bootstrap -->
<link rel="stylesheet" href="/static/components/bootstrap/dist/css/bootstrap.min.css">
<script src="/static/components/jquery/dist/jquery.min.js"></script>


<!-- <script src="/static/components/requirejs/require.js"></script> -->
<script src="/static/components/codemirror/lib/codemirror.js"></script>
<link rel="stylesheet" href="static/components/codemirror/lib/codemirror.css">

<script src="/static/components/plotlyjs/plotly.js"></script>


<script src="/static/components/socket.io-client/socket.io.js"></script>
<script>
    var socket = io(location.origin);
    socket.on('connect',function(){
        console.log('connected!')
    })
    socket.emit('luke','hello')
    socket.on('luke',function(data){
        console.log(data)
    })
</script>

<script type="text/javascript">
    $(document).ready(function(){
      var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
        lineNumbers: true,
      });

      $( "#submit-btn" ).click(function() {
          socket.emit('go','what');
      })
    });
</script>

<style type="text/css" media="screen">
.CodeMirror{
    width: 500px;
    height:500px;
    border: 1px solid black;
    margin:2em;
    display:block;
}

.histobar{
    fill:red;
}
</style>

</script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


<script src="//d3js.org/d3.v3.min.js"></script>


</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><tt>aretha </tt>- monte carlo events as a service (MCaaS)</h1>
                <p><tt>aretha</tt> wants to be a cloud service providing simulated particle collisions on-demand in a massively scaled way.</p>
                <div class="col-md-6">
                    <textarea id="editor">
    (run){
      # number of events:
      EVENTS = 100000
  
      # Event output file:
      EVENT_OUTPUT = HepMC_GenEvent[OUTFILE]
    }(run)

    (beam){
      BEAM_1 =  2212; BEAM_ENERGY_1 = 250.;
      BEAM_2 =  -2212; BEAM_ENERGY_2 = 250.;
    }(beam)

    (processes){
      Process 93 93 -> 11 -11
      End process
    }(processes)
                    </textarea>
                </div>
                <div id="histo" class="col-md-6">
                </div>
                
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                {% for x in htmlsnips%}
                    {{x|safe}}
                {% endfor %}
                    </div>
                    <div class="col-md-3"></div>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input id="submit-btn" class="btn btn-default" type="submit" value="Submit">
            </div>
        </div>
    </div>
    
    
    <script>
    // Generate a Bates distribution of 10 random variables.

    // var values = d3.range(10).map(d3.random.normal(2))
    // var newvalues = d3.range(1000).map(d3.random.normal(0))
    // values = newvalues;
    values   = [0,1,1,1,2,2,3,3,4,4,5,5]
    newvalues = [0.5,0.5,0.5,0.4,0.4,0.0,-2,3]

    height=300;
    width=500;

    margin_vert = 10;
    margin_horz = 50;
    plotheight = height-2*margin_vert
    plotwidth  = width-2*margin_horz
    
    

    var x = d3.scale.linear()
              .domain([-5, 5])
              .range([margin_horz, plotwidth]);


    var binned_data = d3.layout.histogram().bins(x.ticks(11))(values);

    var y = d3.scale.linear()
              .domain([0, d3.max(binned_data, function(d) { return d.y; })])
              .range([plotheight, margin_vert]);

    var svg = d3.select("#histo").append("svg").attr('width',width).attr('height',height)

    plotframe = svg.append("g").attr('width',plotwidth)
                               .attr('height',plotheight)
    
    bars = plotframe.selectAll(".histobar").data(binned_data)
                         .enter()
                                         .append("rect")
                                         .attr('class','histobar')
                                         .attr('transform',function(d){ return "translate(" + x(d.x) + "," + y(d.y) + ")"; })
                                         .attr("width", x(binned_data[0].dx)-x(0)-1)
                                         .attr("height", 1)
                                         .attr("height", function(d) { return plotheight - y(d.y); });


    var xAxis = d3.svg.axis().scale(x).orient("bottom");
    svg.append("g")
        .attr("class", "axis")
        .attr("transform", "translate(0," + (height-2*margin_vert) + ")")
        .call(xAxis);


    var yAxis = d3.svg.axis().scale(y).orient("left");
    svg.append("g")
        .attr("class", "axis")
        .attr("transform", "translate("+ (margin_horz) +",0)")
        .call(yAxis);

        svg.selectAll('.axis line, .axis path').style({'stroke': 'Black', 'fill': 'none', 'stroke-width': '1px'});
    // // svg.selectAll(".axis").attr("stroke-width",1).attr("fill","blue")
    // svg.selectAll(".axis path").attr("stroke-width",1).attr("fill","blue")
    </script>



</body>
</html>